<p>
  Welcome to {{name}}
</p>

<!-- <form (submit)="addLocation(location.value)"> -->
<form>
  <div>
    <label for="name">Location Name: </label>
    <input type="text" [(ngModel)]="name" name="name">
  </div>
  <div>
    <label for="name">Description: </label>
    <input type="text" [(ngModel)]="description" name="description">
  </div>
  <div>
    <label for="name">Zip Code: </label>
    <input type="text" [(ngModel)]="zipCode" name="zipCode">
  </div>
  <div>
    <label for="name">Province: </label>
    <input type="text" [(ngModel)]="province" name="province">
  </div>
  <div>
    <label for="name">Country: </label>
    <input type="text" [(ngModel)]="country" name="country">
  </div>
  <div>
    <label for="name">City: </label>
    <input type="text" [(ngModel)]="city" name="city">
  </div>
  <div>
    <label for="name">Address: </label>
    <input type="text" [(ngModel)]="address" name="address">
  </div>
</form>
